* {box-sizing: border-box}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
}

/* Set a style for all buttons */
button {
  background-color:pink;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  font-size: larger;
}
.alp {
  margin-bottom: 1cm;
  height: 1.7cm;
}
.num {
  margin-bottom: 1cm;
  height: 1.7cm;
}

.car {
  margin-bottom: 1cm;
  height: 1.7cm;
}

.veh {
  margin-bottom: 1cm;
  height: 1.7cm;
}
button:hover {
  opacity:1;
}



